/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.button {
  padding: 1.125rem 2rem;
  border-radius: 0.25rem;
  color: var(--bg-color);
  background-color: var(--second-color);
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--primary-color);
}

:root {
  --dark-color: #000000;
  --primary-color: #ff3366;
  --second-color: #f67797;
  --bg-color: #f9f9f9;
  --white: #ffffff;
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);

  --body-font: "DM Sans", sans-serif;
  --title-font: "Poppins", sans-serif;

  --header-height: 4.5rem;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 1.875rem var(--title-font);
  color: var(--dark-color);
}

/* LAYOUT */
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
}

nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--dark-color);
  font: 700 1.5rem var(--title-font);
}

.logo span {
  color: var(--primary-color);
}

main {
  margin-top: var(--header-height);
}

.container {
  width: 100%;
  margin: 0 1.5rem;
}

.section {
  padding: 5rem 0;
}

.grid {
  display: grid;
  gap: 2rem;
}

.divider {
  height: 1px;
  background: rgb(264, 119, 151);
  background: linear-gradient(
    90deg,
    rgba(246, 119, 151, 0),
    rgb(255, 51, 102, 1) 100%
  );
}

/* HOME */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

/* criação de um elemento fantasma */
#home .image::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: -16.8%;
  left: 16.8%;
  background-color: var(--second-color);
}

#home .image img {
  position: relative;
  right: 2.94rem;
}

#home .image img,
#home .image::before {
  border-radius: 6px;
}

#home .content {
  margin: 0 1.5rem;
  text-align: center;
}

#home .content h1 {
  margin-bottom: 1rem;
}

#home .content p {
  margin-bottom: 2rem;
}
